/*@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,100);*/
/*@import url(https://fonts.googleapis.com/css?family=Lato:400,300);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

*,
body{
    /*font-family: 'Roboto Mono', Arial;*/
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body{
    margin: 0;
    padding: 0; 
}

html, body{
    height:100%; 
}


.btn{
    background-image: none !important;
    box-shadow: none !important;
    /*border: none !important;*/
}

.btn a:link,
.btn a:visited,
.btn a:active,
.btn a:focus{
    color: #fff;
    text-decoration: none;
}

.font-08{
    font-size: 0.8em;
}

.font-2{
    font-size: 2em;
}

.font-5{
    font-size: 5em;
    font-weight: 300;
}

.texto-cor-vermelho-opaco{
    color: #ed5564;
}

.texto-cor-vermelho{
    color: red;
}

.texto-cor-verde-fraco{
    color: #a0d468;
}

.texto-cor-amarelo-fraco{
    color: #ffce55;
}

.texto-cor-cinza-opaco{
    color: #aab2bd;
}

.texto-cor-cinza-escuro-opaco{
    color: #656d78;
}

.texto-cor-verde-escuro-opaco{
    color: #36bc9b;
}


.btn-largo{
    padding-left: 4em;
    padding-right: 4em;
}

.btn-meio-largo{
    padding-left: 2em;
    padding-right: 2em;
}















#area-login{
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 1em;
    background-color: #fff;
    padding-left: 4em;
    padding-right: 4em;
}

#area-cadastro, 
#area-login{
    -webkit-box-shadow: 10px 15px 50px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 15px 50px -15px rgba(0,0,0,0.75);
    box-shadow: 10px 15px 50px -15px rgba(0,0,0,0.75);
}

#logo{
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 3.5em;
    font-weight: 400;
    color: #656d78;
}

#logo img{
    margin-right: 0.5em;
}


.btn-bordas-redondas{
    border-radius: 90px;
}




/*form login*/
.form-bordas_bottom{
    border: none;
    border-radius: 0;
    box-shadow: none;

    border-bottom: 2px solid #f0f1f5 !important;
}


#area-cadastro{
    background-color: #fff;
    margin-top: 4em;
    margin-bottom: 2em;
    background-image: url(../img/book-wallpaper.jpg);
}

#area-cadastro > .row{
    background-color: rgba(237, 85, 100, 0.8);
}

#area-cadastro #esquerda{
    background-position: center;
    background-size: cover;
    color: #fff;
}

#area-cadastro #esquerda > .row{
    padding-top: 2em;
    padding-bottom: 2em;

}

#area-cadastro #esquerda ul li{
    list-style-type:circle;
}


#area-cadastro #direita{
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 2em;
}


/*menu topo*/
.menu-usuario{
    width: 100%;
    height: 4em;
    background-color: #fff;
    border-bottom: 1px solid #ccd0d9;
    z-index: 9999;
}

.menu-usuario #logo{
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    color: #aab2bd;
    margin-top: 5px;
}

.nome-menu-usuario{
    margin-top: 5px;
    font-weight: 400;
}

.nome-menu-usuario .icone-avatar-pequeno{
    margin-left: 1em;
}


.icone-avatar-pequeno,
.icone-avatar-nano,
.icone-avatar-grande{
    border-color: #fff;
    border-radius: 90px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.icone-avatar-pequeno{
    width: 40px;
    height: 40px;
}

.icone-avatar-nano{
    width: 30px;
    height: 30px;
}

.icone-avatar-grande{
    width: 120px;
    height: 120px;
}

.nome-menu-usuario .dropdown-menu > li > a{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    margin-top: 0;
    min-width: 250px;
}

.dropdown-menu > li > a:hover{
    background-image: none;
}

.indicador{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    letter-spacing:5px;
}

.indicador .badge{
    background-color: transparent;
    color: #000;
    font-weight: 300;
    font-size: 15px;
    border: 1px solid #ccd0d9;
    margin-left: 10px;
    letter-spacing:1px;
}









/*trilha*/
.trilha{
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.trilha,
.conteudo,
.trilha-sem-foto{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.trilha .conteudo{
    background-color: rgba(0, 0, 0, 0.5);
}

.trilha-sem-foto .conteudo{
    background-color: #fff;
    color: #656d78;
    border: 1px solid #ccd0d9;
}

.todas-trilhas .conteudo .glyphicon{
    margin-right: 5px;
}

.conteudo .topo{
    padding-top: 10px;
}

.conteudo .titulo{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3em;
    font-weight: 300;
}

.conteudo .descricao{
    padding-bottom: 10px;
}

.conteudo .rodape{

}









/*trilha individual*/
.topo-trilha{
    position: relative;
    height: auto;
    height: calc(100% - 56px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 15px;

}

.link-branco,
.link-branco:link,
.link-branco:visited,
.link-branco:active,
.link-branco:focus{
    color: #fff !important;
    box-shadow: none;

    /*text-decoration: none !important;*/
}

.topo-trilha .conteudo-topo{
    padding-bottom: 20px;
    position: relative;
    height: auto;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.topo-trilha .conteudo-topo h1{
    font-size: 4em;
}

.topo-trilha .conteudo-topo .topo{
    margin-top: 2em;
}

.topo-trilha .conteudo-topo .topo img{
    margin-bottom: 10px;
}

.topo-trilha .conteudo-topo .rodape{
    margin-top: 20px;
    font-size: 20px;    
}
.topo-trilha .conteudo-topo .rodape ul .glyphicon{
    padding-right: 10px;
}

.topo-trilha .conteudo-topo .rodape ul li{
    padding-right: 40px;
    font-weight: 400;
}

.topo-trilha .conteudo-topo .btn-participar .btn{
    padding-bottom: 15px;
    padding-top: 15px;
}









/*topicos na trilha*/
.trilha-topicos{
    margin-top: 20px;
}


.trilha-topicos table tr td{
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
}

.trilha-topicos table tr td:nth-child(1){
    max-width: 50px !important;
    text-align: center
}

.trilha-topicos table tr td:nth-child(3){
    min-width: 200px !important;
}

.trilha-topicos table tr td:nth-child(4),
.trilha-topicos table tr td:nth-child(5),
.trilha-topicos table tr td:nth-child(6){
    text-align: center;
}

.trilha-topicos table tr td:nth-child(7){
    max-width: 30px;
}








/*modal membros*/
.modal,
.modal-membros,
.modal-content,
.modal-body{
    z-index: 9999 !important;
}
.modal-membros {
    padding: 0 !important;
    margin: 0;
}

.modal-membros .modal-lg{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.modal-membros .modal-content{
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}


.modal-membros .lista-membro{
    margin-bottom: 1.3em !important;
}












/*perfil usuario*/
.topo-perfil{
    border-bottom: solid 1px #ccd0d9;
    width: 100%;
    padding-bottom: 4em;
}

.btn-seguir .btn-success{
    background-color: transparent;
    color: #5cb85c;
    text-shadow: none;

}

.btn-seguir .btn-success:hover{
    background-color: #5cb85c;
    color: #fff;
}

.btn-seguir .btn-success:hover,
.btn-seguir .btn-success,
.btn-seguir .btn-default:hover,
.btn-seguir .btn-default{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}




/*informações do usuario*/
.info-usuario{
    margin-top: 2em;
    padding-bottom: 2em;
}

.info-usuario .menu-opcoes .indicador{
    margin: 0;
    font-size: 1em;
    letter-spacing: 1px;
}

.info-usuario .menu-opcoes .nav-tabs{
    border: none;
}

.info-usuario .menu-opcoes .nav-tabs li a:hover {
    background: transparent;
    border-color: transparent;
}   

.info-usuario .menu-opcoes .nav-tabs li a .indicador{
    font-size: 1em;
    color: #aab2bd;
    /*font-weight: bold;*/
}

.info-usuario .menu-opcoes .nav-tabs li.active a{
    border: none !important;
    background-color: transparent;
}

.info-usuario .menu-opcoes .nav-tabs li.active a .indicador{
    color: #5cb85c;
    font-weight: bold !important;
}

.info-usuario .info-duvida{
    border-top: solid 1px #ccd0d9;
    margin-top: 0.4em;
    padding-top: 0.4em;
}

.info-usuario .info-duvida span{
    padding-right: 1em;
}








/*chat*/
.area-chat{
    position: relative;
    height: calc(100% - 56px);
}

.area-chat .container,
.area-chat .chat-usuarios,
.area-chat .chat-mensagens{
    position: relative;
    height: 100%;
}

.area-chat .chat-usuarios{
    border-left: solid 1px #ccd0d9;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: 5px 1px 10px -2px rgba(219,219,219,1);
    -moz-box-shadow: 5px 1px 10px -2px rgba(219,219,219,1);
    box-shadow: 5px 1px 10px -2px rgba(219,219,219,1);
    z-index: 1;
}

.area-chat .chat-usuarios .chat-usuarios-topo{
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px #ccd0d9;
}

.area-chat .chat-usuarios .chat-usuarios-topo .pull-left .indicador{
    margin: 0;
}

.area-chat .chat-usuarios .chat-usuarios-aberto .usuario-mensagem{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: solid 1px #ccd0d9;
}

.chat-ativo{
    background-color: #f6f7fb;
}

.area-chat .chat-mensagens{
    background-color: #f6f7fb;
    padding: 0;
    
}


.area-chat .chat-mensagens .chat-mensagens-area-mensagens{
    padding-right: 15px;
    padding-left: 15px;
    height: calc(100% - 65px);
    overflow-y: auto;
    overflow-x: hidden;
}

.area-chat .chat-mensagens .mensagem-individual{
    padding-bottom: 1em;
    padding-top: 1em;
}

.area-chat .chat-mensagens .mensagem-individual .area-texto-mensagem{
    padding: 1em;
    background-color: #fff;
}

.area-chat .chat-mensagens .mensagem-individual .area-texto-mensagem .mensagem-hora {
    font-size: 11px;
}

.area-chat .chat-mensagens .mensagem-individual.mensagem-usuario .area-texto-mensagem{
    background-color: #e6e9ee;
}


.area-chat .chat-mensagens .chat-mensagens-enviar{
    border-top: solid 1px #ccd0d9;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #f6f7fb;
}

.area-chat .chat-mensagens .chat-mensagens-enviar .form-control{
    background-color: #fff;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #ccd0d9 !important;
    box-shadow: none;
    outline: none;
    resize: none;

    padding-top: 5px;
}












/*LG*/
@media (min-width: 1200px) {

    #area-login{
        margin-left: 29.16666666%;
    }
}


/*SM*/
@media (min-width: 768px) and (max-width: 991px){
    .topo-trilha,
    .topo-trilha .conteudo-topo{
        height: auto;
    }

}

/*XS*/
@media (max-width: 767px){
    .topo-trilha,
    .topo-trilha .conteudo-topo{
        height: auto;
    }

    .btn-largo{
        padding-left: 30px;
        padding-right: 30px;
    }

    .trilha-topicos .container{
        padding: 0;
    }

    .trilha-topicos table{
        width: 100%;
        box-shadow: none;
    }

    .btn-seguir{
        text-align: center;
    }
}